############################################
# Build Folders
############################################
bin/
obj/
Debug/
Release/

############################################
# User-specific files
############################################
*.user
*.suo
*.userosscache
*.sln.docstates

############################################
# Visual Studio
############################################
.vs/
*.vsp
*.vspx
*.psess
*.pidb
*.svclog
*.scc

############################################
# Visual Studio Code
############################################
.vscode/

############################################
# Logs
############################################
*.log

############################################
# Database files
############################################
*.mdf
*.ldf
*.ndf

############################################
# EF Core Migrations Snapshot backup
############################################
*MigrationsBackup*

############################################
# OS Files
############################################
.DS_Store
Thumbs.db

############################################
# Secrets
############################################
appsettings.Development.json
appsettings.Local.json

############################################
# Rider / Resharper
############################################
.idea/
_ReSharper*/
*.DotSettings.user

############################################
# Publish Output
############################################
publish/
wwwroot/uploads/

############################################
# Temporary files
############################################
*.tmp
*.temp